

*{
    margin: 2px;
    padding: 3px;
    box-sizing: border-box;
    font-family: sans-serif;

}
.header {
  background-color: #F1F1F1;
  text-align: center;
  padding: 20px;
}

body {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgb(100, 237, 132);
}